<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BOARD - Login</title>

    </head>
    <body>
        <h1>Login</h1>
        <p>
            <form action="/login" method="post">
                <label for="ID">ID:</label>
                <input type="text" id="ID" name="ID" required autofocus>
                <br>
                <label for="PW">Password:</label>
                <input type="password" id="PW" name="PW" required>
                <br>
                <input type="submit" value="Login">
            </form>
        </p>
        <p> <a href="/register">register</a> </p>
    </body>
</html>